<p-card>
    <h3 style="margin-top: 0; margin-bottom: 40px;">ข่าวประชาสัมพันธ์</h3>
    <h4>รายการข่าวประชาสัมพันธ์</h4>
    <p-table [value]="news">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 100px;"></th>
                <th style="width: 100px;">ลำดับ</th>
                <th>ชื่อเรื่อง</th>
                <th style="width: 250px;">วันที่สร้าง</th>
                <th style="width: 300px;">จัดการ</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-i="rowIndex" let-news>
            <tr>
                <td><p-inputSwitch [(ngModel)]="news.StatusBool" (click)="updateStatus(news.NewsId)"></p-inputSwitch></td>
                <td>{{i + 1}}</td>
                <td>{{news.NameNews}}</td>
                <td>{{news.UpdatedDate}}</td>
                <td><button *ngIf="news.ButtonView" pButton type="button" icon="pi pi-book" class="p-button-rounded p-button-outlined"
                        style="margin-right: 10px;" (click)="viewDetail(news.NewsId)"></button>
                    <button *ngIf="news.ButtonEdit" pButton type="button" icon="pi pi-file-edit"
                        class="p-button-success p-button-rounded p-button-outlined" style="margin-right: 10px;"
                        (click)="editDetail(news.NewsId)"></button>
                    <button *ngIf="news.ButtonDelete" pButton type="button" icon="pi pi-trash"
                        class="p-button-danger p-button-rounded p-button-outlined"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
<p-dialog [(visible)]="newsDialog" [style]="{width: '30%', height: '50%'}" header="รายละเอียดข่าวประชาสัมพันธ์"
    [modal]="true" styleClass="p-fluid" (onHide)="resetForm(); cancel();">
    <ng-template pTemplate="content">
        <div class="p-grid">
            <div class="p-col-12 ">
                <label class="label-primary" style="font-weight: bold;">ชื่อเรื่อง</label>
                <input type="text" pInputText [(ngModel)]="currentNews.NameNews" />
            </div>
            <div class="p-col-12" style="font-weight: bold; margin-top: 10px;">
                <label class="label-primary">เนื้อหา</label>
                <div class="field mt-1" style="height: 85%;">
                    <textarea pInputTextarea [(ngModel)]="currentNews.Detail"></textarea>
                </div>
            </div>
            <div *ngIf="flagEdit" class="p-col-12" style="font-weight: bold; margin-top: 10px;">
                <label class="label-primary">สถานะ</label>
                <div class="field mt-1" style="height: 85%;">
                    <p-inputSwitch [(ngModel)]="currentNews.Status" (click)="updateStatus(currentNews.NewsId)"></p-inputSwitch>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="ปิด" icon="pi pi-times" class="p-button-text"
            (click)="cancel()"></button>
    </ng-template>
</p-dialog>